/* root css property start */
:root {
    --col-bg-primary-o-90: #000f46e6;
    --col-bg-secondary: #404b74;
    --col-bg-tertiary: #EEEEEE;
    --col-bg-quarter: #6EACDA;
}
/* root css property end */

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #eff697;
}

h2 {
    font-size: 28px;
}

img {
    border-radius: 4px;
}

ol {
    list-style-position: inside;
}

/* untuk pengganti <br /> karena <br /> itu tidak semantik, maka digantikan dengan margin-bottom atau margin-top */

.line-break-bottom {
    margin-bottom: 20px;
}

.line-break-top {
    margin-bottom: 20px;
}

/* line break style end */