/* CSS Homepage umum ada disini */

/* paragraph bawah img start */

.gambar-skensa-p {
    text-align: center;
}

.gambar-ruang-business-p {
    text-align: center;
}

.gambar-ruang-lab-rpl-p {
    text-align: center;
}

/* paragraph bawah img end */