/* CSS Homepage umum ada disini */

/* paragraph bawah img start */

.gambar-skensa-p {
    text-align: center;
}

.gambar-ruang-business-p {
    text-align: center;
}

.gambar-ruang-lab-rpl-p {
    text-align: center;
}

/* paragraph bawah img end */

/* CSS hero section start */

.hero {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

/* CSS hero section end */

/* style di konsentrasi keahlian start */

.konsentrasi-keahlian-container {
    padding-top: 8px;
    text-align: center;
}

/* style di konsentrasi keahlian end */