/* style visi misi start */

.section-visi-misi {
    margin: 1rem;
    /* jarak */
    margin-bottom: 8rem;
}

.flex-container-visi, .flex-container-misi, .flex-container-tujuan-sekolah {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: auto;

    /* style */
    /* untuk memperindah */
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f8f8f8;
}

.flex-container-visi > div {
    padding: 10px;
    text-align: center;
    font-size: calc(18/ 16*1rem);
}

.flex-container-misi, .flex-container-tujuan-sekolah {
    text-align: left;
    padding: 10px;
}

.divider-text {
    font-size: 30px;
    padding-bottom: 8px;
    padding-top: 8px;
    display: flex;
    align-items: center;
}
  
.divider-text::before, .divider-text::after {
    flex: 1;
    content: '';
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 5px 2rem;
}

.divider-line {
    border-top: 3px solid #bbb;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

/* style visi misi end */